<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/delete_style.css">
    <title>코멘트 삭제</title>

</head>
<body>
<header>랜선 선배</header>
    <main>
        <h3>댓글 삭제</h3>
        <form action="deleteForm.html"
              th:action="@{/reviews(restaurantId=${param.restaurantId},reviewId=${param.reviewId})}"
              th:method="delete" th:object="${reviewDeleteForm}">
            <input type="password" th:field="*{password}" th:text="*{password}" id="delpassword" placeholder="비밀번호 입력">
            <button type="submit" id="delbutton" onclick="popupClose();">삭제</button>
        </form>
    </main>
</body>
</html>