<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/popup_style.css">
    <title>코멘트 수정</title>
    <script>
        function popupClose() {
            opener.location.href="../restaurants/detailPage.html";
            self.close();
        }
    </script>
</head>
<body>
<header>전남대 맛집 탐색 어플 </header>
<main>
    <h3>댓글 수정</h3>
    <form action="editForm.html" th:action="@{/reviews(restaurantId=${param.restaurantId},reviewId=${param.reviewId})}" th:method="patch" th:object="${reviewUpdateForm}">
        <button></button>
    </form>
</main>
</body>
</html>