<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/edit_style.css">
    <title>코멘트 수정</title>
    <script>
        function popupClose() {
            opener.location.href="../restaurants/detailPage.html";
            self.close();
        }
    </script>
</head>
<body>
<header>전남대 맛집 탐색 어플 </header>
<main>
    <h3>댓글 수정</h3>
    <form action="editForm.html" th:action="@{/reviews(restaurantId=${param.restaurantId},reviewId=${param.reviewId})}" th:method="patch" th:object="${reviewUpdateForm}">
        <input type="text" th:id="writerName" th:name="writerName" th:value="${review.writerName}" th:text="${review.writerName}" placeholder="아이디">
        <input type="password" th:field="*{password}" id="editpassword" placeholder="비밀번호"><br>
        <textarea rows="10" cols="40" th:id="content" th:name="content" th:value="${review.content}" placeholder="내용"></textarea>
        <button type="submit" id="editbutton" onclick="popupClose();">수정</button>
    </form>
</main>
</body>
</html>