<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/search_style.css">
  <title>식당 조건 검색</title>
  <script>
    let check = false;
    let rowcolor= null;

    function colorChange(x, event){
      rowcolor = document.getElementById(x);

      if(event.target.checked){
        rowcolor.style.background="darkseagreen";
      }else{
        rowcolor.style.background="ghostwhite";
      }
      if(x==='time1'){
        check=document.getElementById("lunch");
        let rowcolor1 = document.getElementById("time1");
        let rowcolor2 = document.getElementById("time2");
        if(check.checked){
          rowcolor1.style.background="darkseagreen";
          rowcolor2.style.background="ghostwhite";

        }else{
          rowcolor1.style.background="ghostwhite";
          rowcolor2.style.background="darkseagreen";
        }
      }
      if(x==='time2'){
        check=document.getElementById("dinner");
        let rowcolor1 = document.getElementById("time1");
        let rowcolor2 = document.getElementById("time2");
        if(check.checked){
          rowcolor1.style.background="ghostwhite";
          rowcolor2.style.background="darkseagreen";

        }else{
          rowcolor1.style.background="darkseagreen";
          rowcolor2.style.background="ghostwhite";
        }
      }
    }
  </script>
</head>

<body>
<header>전남대 맛집 탐색기</header>
<article>
<form action="" method="post">
  <div>
    <div>
      <h3>언제 식사를 할 예정인가요?(필수)</h3>
      <table align="center">
        <tr>
          <th onclick="colorChange(this.id, event)" id="time1"><label><input type="radio" name="time" id="lunch">점심</label></th>
          <th onclick="colorChange(this.id, event)" id="time2"><label><input type="radio" name="time" id="dinner">저녁</label></th>
        </tr>
      </table>
    </div>

    <h3>위치를 모두 선택하세요</h3>
      <table align="center">
        <tr>
          <th onclick="colorChange(this.id, event)" id="location1"><label><input type="checkbox" name="location" id="front">정문&#x2B07;</label></th>
          <th onclick="colorChange(this.id, event)" id="location2"><label><input type="checkbox" name="location" id="back">후문&#x27A1;</label></th>
        </tr>
          <tr>
          <th onclick="colorChange(this.id, event)" id="location3"><label><input type="checkbox" name="location" id="sangdae">상대&#x2196;</label></th>
          <th onclick="colorChange(this.id, event)" id="location4"><label><input type="checkbox" name="location" id="side">쪽문&#x2197;</label></th>
        </tr>
        <tr>
          <th onclick="colorChange(this.id, event)" id="location5"><label><input type="checkbox" name="location" id="bockgae">복개도로&#x2198;</label></th>
          <th onclick="colorChange(this.id, event)" id="location6"><label><input type="checkbox" name="location" id="location_etc">기타</label></th>
        </tr>
      </table>
  </div>

  <div>
    <h3>먹기 싫은 종류의 음식을 모두 선택하세요</h3>
    <table align="center">
      <tr>
        <th onclick="colorChange(this.id, event)" id="food1"><label><input type="checkbox" name="food" id="korea">한</label></th>
        <th onclick="colorChange(this.id, event)" id="food2"><label><input type="checkbox" name="food" id="china">중</label></th>
      </tr>
      <tr>
        <th onclick="colorChange(this.id, event)" id="food3"><label><input type="checkbox" name="food" id="japan">일</label></th>
        <th onclick="colorChange(this.id, event)" id="food4"><label><input type="checkbox" name="food" id="western">양</label></th>
      </tr>
      <tr>
        <th onclick="colorChange(this.id, event)" id="food5"><label><input type="checkbox" name="food" id="asian">아시아</label></th>
        <th onclick="colorChange(this.id, event)" id="food6"><label><input type="checkbox" name="food" id="chicken">치킨</label></th>
      </tr>
      <tr>
        <th onclick="colorChange(this.id, event)" id="food7"><label><input type="checkbox" name="food" id="fastfood">패푸</label></th>
        <th onclick="colorChange(this.id, event)" id="food8"><label><input type="checkbox" name="food" id="steak">고기</label></th>
      </tr>
      <tr>
        <th onclick="colorChange(this.id, event)" id="food9"><label><input type="checkbox" name="food" id="snack">분식</label></th>
        <th onclick="colorChange(this.id, event)" id="food10"><label><input type="checkbox" name="food" id="food_etc">기타</label></th>
      </tr>
    </table>
  </div>

  <div>
    <h3>원하는 조건을 모두 클릭하세요</h3>
    <table align="center">
      <tr>
        <th onclick="colorChange(this.id, event)" id="condition1"><label><input type="checkbox" name="condition" id="vibe">분위기</label></th>
        <th onclick="colorChange(this.id, event)" id="condition2"><label><input type="checkbox" name="condition" id="effectiveness">가성비</label></th>
        <th onclick="colorChange(this.id, event)" id="condition3"><label><input type="checkbox" name="condition" id="solo">혼밥</label></th>
      </tr>
    </table>
  </div>

  <div style="text-align: center">
    <h4>최대 금액(1인당) : </h4>
    <input type="text" name="maxCostLine" value="" id="maxCostLine"/>
  </div>

  <button class="btn-primary" type="submit">전송</button>

</form>
</article>
</body>
</html>