@font-face {
    font-family: '나눔손글씨 느릿느릿체';
    src: url("../font/나눔손글씨 느릿느릿체.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '까투리';
    src: url("../font/Katuri.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '미생';
    src: url("../font/SDMiSaeng.ttf");
    font-weight: normal;
    font-style: normal;
}
header{
    font-family: '나눔손글씨 느릿느릿체';
    text-align: center;
    color: #F46364;
    font-size: 60px;
    padding: 10px;
    margin: 15px 0 15px 0;
}

body{
    font-family: '미생';
    margin: 0 15px 15px 15px;
    background-color: #FDE9E0;
}
main{
    background-color: #FDE9E0;
    border-radius: 20px;
    padding: 20px;
}

h3{

    font-weight: lighter !important;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 28px;
}
h4{
    font-weight: lighter !important;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 5px;
    display: inline-block;
}
h5{
    font-weight: lighter !important;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p{
    padding: 0;
    margin: 0;
}
.hashtag{
    text-align: center;
}
.hashtag div{
    display: inline-block;
    border-style: solid;
    border-color: #F46364;
    border-radius: 15px;
    width: 100%;
    background-color: #FFF4F0;
}
.hashtag span{
    display: inline-block;
    color: dodgerblue;
    font-size: 20px;
    font-weight: bold;
    padding: 0 5px 5px 5px;
    margin-bottom: 10px;
}
.hashtag h4{
    margin: 15px;
}

main button{
    font-family: '까투리';
    font-weight: lighter;
    border-width: 0;
    border-radius: 5px;
    color: white;
    background-color: #F46364;
    margin-top: 10px;
    font-size: 20px;
    width: 95%;
    height: 40px;
    box-shadow: -3px -3px 2px rgba(228, 226, 226,0.8), 3px 3px 5px rgba(0,0,0,0.2);
}

.bbs{
    text-align: center;
}
input[type="text"]{
    background-color: #FFF4F0;
    border-color: #FFD2C3;
    border-width: 1px;
    border-radius: 5px;
    display: inline-block;
    margin: 2px 0 2px 0;
    width: 36%;
    height: 23px;
    border-style: solid;
}
input[type="password"]{
    background-color: #FFF4F0;
    border-color: #FFD2C3;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    display: inline-block;
    margin: 2px 0 2px 0;
    width: 55%;
    height: 23px;
}

textarea{
    background-color: #FFF4F0;
    border-color: #FFD2C3;
    border-width: 1px;
    border-radius: 5px;
    display: inline-block;
    width: 89%;
    margin-top: 5px;
    padding: 10px;
    resize: none;
    vertical-align: middle;
}

footer button{
    display: inline-block;
    float: right;
    margin: 5px 0 5px 10px;
    border-style: solid;
    border-color: #FFD2C3;
    border-width: 2px;
    border-radius: 25px;
    color: gray;
    background-color: #FFF4F0;
    font-weight: bolder;
    font-size: 13px;
    width: 60px;
    height: 30px;

}
footer{
    margin-left: 1rem;
    margin-right: 1rem;
}
footer div{
    display: inline-block;
    width: 100%;
}

table{
    width: 100%;
}
tr th{
    background-color: #FDE9E0;
    border-left: solid 1px gray;
    border-collapse: collapse;
    padding-left: 7px;
    padding-right: 5px;

}
table th:first-child{

    border-left-style: none;
}
th{
    font-size: 20px;
    float: left;
    background-color: white;
}
td{
    padding-left: 7px;
    font-size: 18px;
}
.bbs{
    margin-top: 10px;
}

.hashtag{
    margin-top: 5px;
    margin-bottom: 10px;
}
@media screen and (min-width: 450px){
    body{
        text-align: center;
    }
    main{
        width: 450px;
        text-align: left;
        display: inline-block;

    }
    footer{
        width: 450px;
        display: inline-block;
        vertical-align: top;
    }
}
